<ion-view title="Search" id="page7" style="background-color:#7BD2F0;">
  <ion-content padding="true" class="has-header">
    <form id="search-form2" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search" ng-model="searchQuery"/>
      </label>
      <div class="list card" id="search-card27">
        <ion-item class="item-avatar" id="search-list-item26" ui-sref="tabsController.searchprofile({id: {{user.id}}})" ng-repeat="user in userList | filter: searchQuery">
          {{user.name}}
          <img ng-src='{{user.avatar}}' />
        </ion-item>
      </div>
    </form>
  </ion-content>
</ion-view>