<ion-view title="Profile" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list7" ng-show="userList">
      <ion-item class="item-avatar balanced" id="profile-list-item18">
        <img ng-src="{{userList.avatar}}">
        <h2balanced>{{userList.name}}</h2balanced>
      </ion-item>
      <label class="item item-input" id="profile-textarea1" name="caption">
        <span class="input-label">This is my details and bio</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <ion-list>
    <img ng-src='{{userList.picture}}' width="25%" height="25%" />
    </ion-list>
  </ion-content>
</ion-view>